@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary-color: #66B357;
    --secondary-color: #3C834B;
    --gray-1: #F6F6F6;
    --gray-2: #B2B2B2;
    --gray-3: #D9D9D9;
    --white: white;
    --black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-size: 14px;
}

.post-ribet {
    background-color: transparent;
    border: none;
    display: flex;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;

    padding: 15px;
    color: var(--gray-2);
    font-size: 28px !important;
}

.sidebar {
    /* border-right: 1px solid var(--gray-3); */
    flex: 0.2;
    min-width: 250px;
    padding: 20px;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
        font-weight: 500;
        font-size: 16px;
        margin: 0 20px 0 0;
        color: var(--gray-2);
    }

}

.active {
    p {
        font-weight: 800;
        color: var(--black);
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48;

        color: var(--black);
    }
}

.sidebarOption:hover {
    background-color: var(--gray-1);
    border-radius: 30px;
    transition: all 100ms ease-out;
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 80px;
    }

    p {
        font-weight: 600;
        font-size: 22px;
        padding: 10px;
    }
}

.post-btn {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 50px;
    height: 45px;
    margin: 20px 0;
    font-size: 16px;
}


/* !!! feeds !!! */

.feed {
    width: 100px;
    margin: 0 100px;
    padding: 20px;

    flex: 0.5;
    /* border-right: 1px solid var(--gray-3); */
    max-width: 600px;
    /*min-width: fit-content;*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed::-webkit-scrollbar {
    display: none;
}


.post-box {
    border-bottom: 1px solid var(--gray-3);
    display: flex;
    flex-direction: column;

    img {
        clip-path: circle();
        width: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .post-box-input {
        display: flex;
        align-items: center;
        padding: 20px 0;

        input {
            flex: 1;
            padding: 0 20px;
            font-weight: 500;
            font-size: 14px;
            border: none;

        }

    }
}

.modal-btn {
    border: none;
    width: 100%;
    background-color: transparent;
    display: flex;
}

.feed-post-btn {
    padding: 0 20px;
    background-color: var(--gray-2);
    border: none;
    color: var(--white);
    border-radius: 50px;
    height: 35px;
    max-width: fit-content;
}

hr {
    margin-top: 15px;
    border: none;
    border-top: 1px solid var(--gray-3);
}

.post {

    .post-header {
        padding: 20px 0 10px;
        display: flex;
        /* align-items: center; */

        .post-username {
            padding: 8px 10px;
        }

        .post-time {
            padding: 8px 0;
            color: var(--gray-2);
        }

        .post-avatar {
            img {
                clip-path: circle();
                height: 40px;
            }
        }
    }

    .post-img {
        margin-bottom: 10px;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }

    .post-footer {
        display: flex;
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48;

            padding: 5px 10px 5px 0;
            color: var(--black);
            font-size: 23px !important;
        }
    }

    .post-desc {
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 10px;
        }
    }
}

/* !! POPAP PAP A A */

.modal {
    .post-box {
        border-bottom: none;
    }

    .post-box-footer {
        display: flex;
        align-items: center;
        margin-left: 50px;
        justify-content: space-between;

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48;

            padding: 5px 10px 5px 0;
            color: var(--gray-2);
            font-size: 23px !important;
        }
    }

    .post-box-header {
        display: flex;

        .post-username {
            padding: 6px 10px;
        }
    }

    .post-box-input {
        margin: 0 0 30px 30px;
        padding: 0;

        input {
            flex: 1;
            padding: 0 20px;
            font-weight: 500;
            font-size: 16px;
            border: none;
        }
    }
}

*:focus {
    outline: none;
}

.post-btn:hover {
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}