@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary-color: #66B357;
    --secondary-color: #3C834B;
    --gray-1: #F6F6F6;
    --gray-2: #B2B2B2;
    --gray-3: #D9D9D9;
    --white: white;
    --black: black;
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_med: 33;
    --card_large: 45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;

    padding: 15px;
    color: var(--gray-2);
    font-size: 28px !important;
}

.sidebar {
    /* border-right: 1px solid var(--gray-3); */
    flex: 0.2;
    min-width: 250px;
    padding: 20px;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
        font-weight: 500;
        font-size: 16px;
        margin: 0 20px 0 0;
        color: var(--gray-2);
    }

}

.active {
    p {
        font-weight: 800;
        color: var(--black);
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;

        color: var(--black);
    }
}

.sidebarOption:hover {
    background-color: var(--gray-1);
    border-radius: 30px;
    transition: all 100ms ease-out;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 80px;
    }

    p {
        font-weight: 600;
        font-size: 22px;
        padding: 10px;
    }
}

.post-btn {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 50px;
    height: 45px;
    margin: 20px 0;
    font-size: 16px;
}


/* !!! feeds !!! */

.feed {
    width: 100px;
    margin: 0 100px;
    padding: 20px;
    /* background-color: #3C834B; */

    flex: 0.5;
    /* border-right: 1px solid var(--gray-3); */
    max-width: 600px;
    /*min-width: fit-content;*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.feed::-webkit-scrollbar {
    display: none;
}

.profile-header {
    padding-top: 10px;
    display: flex;
    /* align-items: center; */

    .profile-header-right {
        width: 100%;
        padding: 10px 30px;
        font-size: 16px;
    }

    .profile-username {
        font-weight: 600;
    }

    .profile-avatar {
        img {
            clip-path: circle();
            height: 130px;
        }
    }

    .profile-foll {
        font-size: 14px;
        margin: 20px 0;
        display: flex;

        button {
            border: none;
            background-color: transparent;
        }

        button:hover {
            cursor: pointer;
        }

        p {
            margin-right: 50px;
        }
    }
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid var(--gray-3);
}

.profile-right {
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--gray-3);
    font-weight: 600;
    border-radius: 50px;
    height: 35px;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.add-btn {
    width: 100px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 50px;
    height: 35px;
    font-size: 14px;
}

.add-btn:hover {
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.post-btn:hover {
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: red;
}

.box {
    width: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    .post-header {
        padding-top: 10px;
        display: flex;
        /* align-items: center; */

        .post-username {
            padding: 6px 10px;
        }

        .post-avatar {
            img {
                clip-path: circle();
                height: 40px;
            }
        }
    }

}

a {
    text-decoration: none;

}